    <div class="cat">

        <!-- Liste Planets -->

                <div class="wrapper">
                    <h1>Planets</h1>
                    <div class="cols">
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/Mars.jpg)">
                                    <div class="inner">
                                        <p style="color: white; text-shadow: grey 2px 3px; ">Mars</p>
                                        <small style="color: white; text-shadow: grey 2px 3px;">La planete Rouge</small>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>L'équipe de Millénium vous propose une randonnée dans une des plus belle nébuleuse d'Andromède.</p>
                                        <button type="button" class="btn btn-outline-light">Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/jupiter.png)">
                                    <div class="inner">
                                        <p style="color: white; text-shadow: grey 2px 3px;">Jupiter</p>
                                        <small style="color: white; text-shadow: grey 2px 3px;">Lorem ipsum</small>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                        <button type="button" class="btn btn-outline-light">Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/namek.jpg)">
                                    <div class="inner">
                                        <p style="color: white; text-shadow: grey 2px 3px;">Namek</p>
                                        <small style="color: white; text-shadow: grey 2px 3px;">La planete végétale</small>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                        <button type="button" class="btn btn-outline-light">Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="cols">
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/Kashyyyk.jpg)">
                                    <div class="inner">
                                        <p>Kashyyyk</p>
                                        <small>La planete Rouge</small>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>L'équipe de Millénium vous propose une randonnée dans une des plus belle nébuleuse d'Andromède.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/noveria.jpg)">
                                    <div class="inner">
                                        <p>Noveria</p>
                                        <span>Lorem ipsum</span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/arakis.jpg)">
                                    <div class="inner">
                                        <p>Arrakis</p>
                                        <span>La planete végétale</span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      