
                <div class="wrapper">
                    <h1>Planets</h1>
                    <div class="cols">
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/proxima.jpg)">
                                    <div class="inner">
                                        <p style="color: white; text-shadow: grey 2px 3px; ">Proxima Centori</p>
                                        <small style="color: white; text-shadow: grey 2px 3px;">Le Soleil Rouge</small>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>L'équipe de Millénium vous propose une randonnée dans une des plus belle nébuleuse d'Andromède.</p>
                                        <button type="button" class="btn btn-outline-light">Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="container">
                                <div class="front" style="background-image: url(assets/img/404.jpg)">
                                    <div class="inner">
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="inner">
                                        <p>Prochaines destionations en cours d'ajouts.</p>
                                        <button type="button" class="btn btn-outline-light">Info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>